@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Raleway:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    background: #fff8f6;
}

html {
    scroll-behavior: smooth;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

ul {
    list-style: none;
}

ul a {
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
}


.modal.active {
    top: 0;

}

.modal {
    transition: 1s;
    top: -200%;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal .modal-content {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.modal .modal-content form {
    position: relative;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 70%;
    background: #fff8f6;
    padding: 20px;
}

.modal .modal-content form input {
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    /* border-radius: 20px; */
    border: none;
    background: none;
    border-bottom: #C7873A solid 3px;
    outline: none;
    z-index: 12;
}

.modal .modal-content form button {
    width: 50%;
    height: 6px;
    background: #C7873A;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline: none;
    border: none;
    z-index: 12;
}

.modal-content form ion-icon {
    position: absolute;
    font-size: 50px;
    top: 0;
    right: 0;
    color: black;
}

.logo-modal {
    position: absolute;
    width: 100%;
    height: 68%;
    object-fit: cover;
}

.logo-modal .logo-modal-center {
    position: absolute;
    top: -56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-modal .logo-modal-center span {
    text-align: center;
    padding: 0 50px;
}

@media screen and (max-width:500px) {
    .modal .modal-content form {
        width: 80%;
    }

    .modal .modal-content form input {
        width: 100%;
    }

    .modal .modal-content form button {
        width: 80%;
    }
}

header {
    width: 100%;
    height: 100vh;
    /*background: url(../img/xumson.mp4) no-repeat center center;*/
    background-size: cover;
    overflow: hidden;
    position: relative;

}
video{
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:500px) {
    header {
        height: 99vh;
    }
}
/*.loading{*/
/*    z-index: 99999;*/
/*    background: #e2e2e2;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    overflow-scrolling: initial;*/
/*    position: fixed;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    }*/
/*.load{*/
/*    display: flex;*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/
.opacity {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    max-width: 1300px;
    padding: 0 14px;
    margin: 0 auto;
}

header .container {
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: 'Raleway', sans-serif;
}

.nav-menu,
.nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 20px;
}

nav ul li {
    padding: 0 50px;
}

.booking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.booking ul {
    padding: 0;
    width: 100%;
    display: flex;
}

.booking ul li {

    padding: 2px;
}

.booking button {
    border: none;
    outline: none;
    width: 200px;
    height: 6px;
    background: #C7873A;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.nav-menu ul li:nth-child(1) {
    padding-left: 0;
}

@media screen and (max-width:500px) {

    nav,
    nav ul {
        flex-direction: column;
    }

    nav {
        height: auto;
    }

    .nav-menu ul {
        flex-direction: row;
    }

    .booking ul {
        flex-direction: row;
    }



    .nav-menu ul li {
        flex-direction: row;
        padding: 0 15px;
    }


}

.header-content {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    flex-direction: column;
    margin-top: 80px;
}

.header-content h1 {
    font-size: 45px;
}

.header-content p {
    font-size: 25px;
}

.down {
    left: 47%;
    transform: translateY(0%) rotate(45deg);

    opacity: 0;
}

@keyframes scrolldown {
    0% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }

    50% {
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}

.s1 {
    margin-top: 50px;
}

.s1 .s1-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    text-align: left;
}

.title span {
    color: #707070;
    font-size: 18px;
}

.title h1 {
    margin: 0;
    font-size: 34px;
    margin-bottom: 20px;
}

.s1 .s1-box hr {
    width: 50%;
    margin-left: 0;
}

.s1 .s1-box .s1-box-left {
    width: 48%;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;

}

.s1 .s1-box .s1-box-right {
    height: 100%;
    width: 48%;
}


.s1 .s1-box .s1-box-right img {
    width: 100%;
    /*height: 100%;*/
}

@media screen and (max-width:500px) {

    .s1 .s1-box .s1-box-right,
    .s1 .s1-box .s1-box-left {
        width: 100%;
    }

    .s1 .s1-box .s1-box-left {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .s1 .s1-box .s1-box-right {
        height: 400px;
    }
}


.s2-box {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s2-box-item {
    width: 300px;
    height: 515px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 40px;
    filter: drop-shadow(0 0 0.75rem #E5E5E5);
}

.s2-item-text {
    padding: 5px 20px;
}

.s2-box-item img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
}

@media screen and (max-width:500px) {
    .s2-box-item {
        margin-left: 0;
        height: auto;
    }

    .s2-box-item img {
        height: 200px;
    }
}

.s3 {
    margin-bottom: 100px;
}

.s3-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.s3-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
}

.s3-content {
    width: 47%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.s3-item .img-item {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.s3-box h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
}

.s3-box p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.s3-box ul {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    font-size: 18px;
}

.s3-box button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 200px;
    height: 6px;
    background: #C7873A;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

@media screen and (max-width:500px) {
    .img-item {

        width: 100% !important;

    }

    .s3-content {
        margin-left: 0;
        width: 100%;
    }

    .s3-item {
        height: auto;
    }


}

.s3-hidden-box {
    transition: 1s;
    width: 100%;
    height: auto;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.show-hidden-box button {
    width: 200px;
    height: 6px;
    background: #C7873A;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline: none;
    border: none;
}

.content-photo {
    width: 47%;
    display: block;
    justify-content: center;
    align-items: center;
}

.content-photo ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content-photo ul li {
    width: 130px;
    height: 100px;
    padding: 0 3px;
}

.content-photo ul li img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width:500px) {
    .content-photo {
        width: 100%;
    }
}

.slider__section {
    height: 300px;
    margin-bottom: 100px;
}

.splide__slide {
    width: 300px !important;
    height: 100%;
}

.splide__slide img {
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.splide__arrow {
    background: #C7873A !important;
}

.splide__arrow svg {
    fill: white !important;
}

.splide__pagination {
    display: none !important;
}

.s4-box {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.s4-left,
.s4-right {
    width: 47%;
}

.s4-left form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.s4-left form input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: #C7873A 3px solid;
    background: none;
}

.s4-left form input::placeholder {
    color: #191919 !important;
    font-size: 30px;
}

.s4-left form button {
    width: 80%;
    height: 6px;
    background: #C7873A;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline: none;
    border: none;
}

@media screen and (max-width:500px) {

    .s4-left,
    .s4-right {
        width: 90%;
    }

    .s4-box iframe {
        height: 200px;
    }
}

.footer-section {
    background: #151414;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footer-cta {
    border-bottom: 1px solid #373636;
    padding-bottom: 8px !important;
}

ion-icon {
    font-size: 25px;
}

.single-cta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.single-cta a {
    color: #757575;
    text-decoration: none;
}

.single-cta ion-icon {

    color: #fab162;

}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fab162;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo img {
    max-width: 200px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 21px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon ion-icon {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;

}


.footer-widget-heading h3 {
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #fab162;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #fab162;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    width: 50%;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width:500px) {
    .subscribe-form {
        width: 100%;
    }
}

.subscribe-form input {
    outline: none;
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
    margin-bottom: 10px;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #fab162;
    padding: 13px 20px;
    border: 1px solid #fab162;
    top: 0;
    height: 82%;
}

.subscribe-form button ion-icon {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.footer-cta .row .col-xl-4:nth-child(1) .single-cta i {
    position: absolute;
    color: #ff5e14;
}

.footer-cta .row .col-xl-4:nth-child(1) .single-cta .cta-text {
    /* padding-left: 32px; */
}

.footer-cta .row .col-xl-4:nth-child(2) .single-cta i {
    color: #14ffa7;
}

.footer-cta .row .col-xl-4:nth-child(3) .single-cta i {
    color: #ffd700;
}

.footer-social-icon .social_icon {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.footer-social-icon .social_icon li {
    float: inherit !important;
    display: inline-block !important;
    width: inherit;
}

.footer-social-icon .social_icon li a i {
    font-size: 15px;
    line-height: 39px;
}

.footer-social-icon .social_icon li a {
    width: 40px;
    height: 40px;
}

.social_icon {
    text-align: right;
    margin: 0;
    margin-top: 3px;
}

.social_icon li {
    display: inline-block;
    margin: 0 5px;
}

.social_icon li a {
    display: inline-block;
    width: 25px;
    height: 25px;

    color: #000;
    text-align: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
}

.social_icon li a i {
    font-size: 15px;
    line-height: 20px;
}
